


<div class="container">
  <h2>Registro</h2>
  <form>
    <input type="text" class="email" placeholder="Correo Electrónico">
    <br />
    <input type="password" class="pwd" placeholder="Contraseña">
    <br />
    <input type="text" class="pwd" placeholder="Confirmar Contraseña">
    <br />
    <input type="text" class="email" placeholder="Agrega una pequeña descripción">
    <br />
    <input type="text" class="email" placeholder="Día de Nacimiento (Ej: 19)">
    <br />
    <input type="text" class="email" placeholder="Mes de Nacimiento (Ej: 06)">
    <br />
    <input type="text" class="email" placeholder="Año de Nacimiento (Ej: 2001)">
  </form>
  <a href="#" class="link">
    ¿Olvidaste tu contraseña?
  </a>
  <br />
  <button class="register">
    <span>Registrar</span>
  </button>
  <button class="signin" routerLink="/login">
    <span>Entrar</span>
  </button>
</div>

